name: Deploy to K8s
permissions: read-all

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  deploy_to_k8s:
    name: Deploy to k8s
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

      - name: Install SSH key
        uses: shimataro/ssh-key-action@d4fffb50872869abe2d9a9098a6d9c5aa7d16be4 # v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          name: id_ed25519 # optional
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          if_key_exists: fail # replace / ignore / fail; optional (defaults to fail)

      - name: Setup NYC Mesh VPN
        uses: nycmeshnet/nycmesh-vpn-action@main
        with:
          config-name: "ghpastebin"
          private-key: ${{ secrets.WIREGUARD_PRIVATE_KEY }}
          server-preference: "11,10,3"

      - name: Deploy Helm Chart
        run: |
          # Get the kubeconfig
          scp ${{ secrets.SSH_USER }}@${{ secrets.SSH_TARGET_IP }}:~/.kube/config ./

          # Add the repo
          helm repo add microbin https://microbin-helm.jamesotten.com

          # Install the chart with helm
          helm upgrade --install --kubeconfig ./config \
          --kube-apiserver https://${{ secrets.SSH_TARGET_IP }}:6443 \
          -n ${{ vars.APP_NAMESPACE }} \
          --create-namespace ${{ vars.APP_NAMESPACE }} \
          microbin/microbin \
          -f values.${{ inputs.environment }}.yaml \
          --set secret.data.MICROBIN_ADMIN_PASSWORD="${{ secrets.MICROBIN_ADMIN_PASSWORD }}" \
          --set secret.data.MICROBIN_UPLOADER_PASSWORD="${{ secrets.MICROBIN_UPLOADER_PASSWORD }}"

          # Wait for deploy to complete
          kubectl --kubeconfig ./config --server https://${{ secrets.SSH_TARGET_IP }}:6443 -n ${{ vars.APP_NAMESPACE }} rollout status deployment --timeout 30m
